<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="siNavBar">
        <nav>
            <a href=""></a>
            <a href=""></a>
            
        </nav>
    </div>
    <div id="siHeadDiv">
        <h1 id="siHeader">Welcome to the TOD Project Reporting Site</h1>
        <p>The Office of Planning and Sustainable Development</p>
    </div>
    <div id="siInputDiv">
        <p>Sign In Here:</p>
        <input |id="siUsername" type="text" placeholder="Username">
        <input id="siUPassword" type="text" placeholder="Password">
        <button>Submit</button>
    </div>

</body>
</html>